<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular Checkers</span>
    <button mat-button class="nav-button" routerLinkActive="accent-text" routerLink="/lobbies">Lobbies</button>
    <button mat-button class="nav-button" routerLinkActive="accent-text" disabled routerLink="/stats">Stats</button>
    <span class="spacer"></span>
    <button mat-button class="nav-button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
